<div class="container">
  <h2>Example: mat-currency-field</h2>
  <form [formGroup]="frm">
    <mat-form-field>
      <mat-label>Favorite food</mat-label>
      <input matInput formControlName="name" placeholder="enter here"/>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Currency in CAD</mat-label>
      <mat-currency-field formControlName="currencyFieldCAD" placeholder="Enter in CAD" currencyCode="CAD"></mat-currency-field>
      <mat-error *ngIf="frm.controls.currencyFieldCAD.hasError('required')">Field is required</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Currency in EUR</mat-label>
      <mat-currency-field formControlName="currencyFieldEuro" placeholder="Enter in EURO" currencyCode="EUR" digitsInfo="1.2-2"></mat-currency-field>
      <mat-error *ngIf="frm.controls.currencyFieldEuro.hasError('pattern')">Invalid Format</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Currency in INR</mat-label>
      <mat-currency-field formControlName="currencyFieldINR" placeholder="Enter in INR" currencyCode="INR" digitsInfo="1.4-6"></mat-currency-field>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Without Currency Code</mat-label>
      <mat-currency-field formControlName="currencyField" placeholder="Enter Currency Value" currencyCode=" " digitsInfo="1.4-6"></mat-currency-field>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Default Currency</mat-label>
      <mat-currency-field formControlName="currencyFieldDisabled" placeholder="Default Currency"></mat-currency-field>
      <mat-error *ngIf="frm.controls.currencyFieldDisabled.hasError('pattern')">Invalid Format</mat-error>
    </mat-form-field>
    <hr>
    <br>
    <pre>{{ frm.value | json}}</pre>
  </form>
</div>